<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fontawesome.com/icons/angular?f=brands&s=solid">

<div class="bg">
    <div class="container">
        <div class="form-box Login">
            <h2>Identifier</h2><br>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                
                <div class="input-box">
                    <span class="icon"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="password" required>
                    <label>Mot de passe</label>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox">Remember me
                    </label>

                </div>
                <div data-v-3f67cf34="" class="small-captcha me-4">
                    <div style="width: 304px; height: 78px;">
                        <div>
                            <iframe title="reCAPTCHA"
                                src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LemWrAiAAAAAE65TF5zk_BrsWNN1rYY09jCgeLZ&amp;co=aHR0cHM6Ly93d3cucGF5c21hcnQudG46NDQz&amp;hl=fr&amp;v=4PnKmGB9wRHh1i04o7YUICeI&amp;size=normal&amp;cb=96rqa265qfsp"
                                width="290" height="78" role="presentation" name="a-p5va9r1clv18" frameborder="0"
                                scrolling="no"
                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox">
                            </iframe>
                        </div>
                         <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
                         style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;">
                        </textarea>
                    </div>
                    <iframe style="display: none;">
                    </iframe>
                </div>
                <button type="submit" class="button"><a href="adminamin-home"> S'identifier</a></button>
            
            </form>
        </div>
    </div>
</div>    