
<ng-template [ngIf]="modal"><app-modal-basic></app-modal-basic></ng-template>

<div class="container">
   
    <div aria-expanded="true" role="dialog" aria-modal="true" class="vm--modal"
            style="top: 15px; right: -15px; width: 270px; height: auto;">
            <div data-v-32434ebe="" class="add-facture modals add-bill-modal vm--modal p-3">
                <div data-v-32434ebe="" class="fact" style="color:rgb(0, 0, 0)">Ajouter une Facture</div>
                <select data-v-32434ebe="" aria-label="Default select example" class="form-select w-75 mx-auto my-1" 
                (change)="onSelect($event.target)" (change)="onSelect($event.target)" (change)="onSelect($event.target)">
                
                    <option data-v-7223d7ea="" value="abonnement"> ABONNEMENT &nbsp; &nbsp; &nbsp;↓ </option>
                    <option data-v-32434ebe="" value="tous les factures">tous les factures</option>
                    <option data-v-32434ebe="" value="steg"  ><a href="STEG">STEG</a></option>
                    <option data-v-32434ebe="" value="AGIL"><a href="AGIL">AGIL</a></option>
                    <option data-v-32434ebe="" value="S.M.I.T">S.M.I.T</option>
 
                </select>
            </div>
        </div>
        
   








</div>
